@import './variables.scss';

.backNav {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    margin: 20px 20px 50px 20px;
}

.reviewSection {
    // padding-top: 20px;
    margin: 20px 20px 50px 20px;
}

.reviewItem {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    gap: 5px;
}

.reviewerName {
    font-weight: 600;
    font-size: 14px;
}

.reviewerDesc {
    font-size: 14px;
    color: #464646;
}

.details {
    width: 100%;
    margin: 0 20px;
}

.field {
    margin-bottom: 50px;
}

.titleWishlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookTitle {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
}

.author {
    font-size: 14px;
    color: #464646;
}

.rating {
    margin: 5px 0;
    font-size: 12px;
}

.tagItem {
    border-radius: 15px;
    padding: 3px 10px;
    border: 1px solid $primary-color;
}

.title {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.desc {
    font-size: 14px;
}

.wishlistButton {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(158, 158, 158);
    background-color: white;
    cursor: pointer;
}